Makefile
libyelmox
unit_tests
fesm-utils
libs/lis*
coordinates
yelmo
FastIsostasy
FastHydrology
rembo1
ice_data
isostasy_data
tests/plots
output
tmp
logs
tests/.DS_Store
.DS_Store
.runme/config.toml
.install.sh
.upgrade.sh
check_sim.x
git_yelmo.txt
maps/*.nc
.vscode
.claude/worktrees
